<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-success">
    <div class="panel-heading">Solução Final...</div>
    <div class="panel-body">
      <div class="row">
        <h5 style="text-align: center">Relatorio Final</h5>
      </div>
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <th>Variaveis</th>
              <th>Final</th>
              <th>PS</th>
              <th>+</th>
              <th>-</th>
              <th>Uso</th>
            </thead>
            <tbody>
              <% for i in 0..@number_variables-1 %>
                <tr>
                  <th>x<%=i+1%></th>
                  <th><%= @solution_end[i] %></th>
                  <th></th>
                  <th>+</th>
                  <th>-</th>
                  <th></th>
                </tr>
              <%end%>
              <% for i in 0..@number_restriction-1 %>
                <tr>
                  <th>f<%=i+1%></th>
                  <th><%= @variables_reserves_end[i] %></th>
                  <th><%= @variables_reserves_end[i] %></th>
                  <th>+</th>
                  <th>-</th>
                  <th><%= @function_limits[i] - @variables_reserves_end[i] %></th>
                </tr>
              <%end%>
              <tr>
                <th>Z</th>
                <th><%= @valueZ_end %></th>
                <th></th>
                <th>+</th>
                <th>-</th>
                <th></th>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>