<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-success">
    <div class="panel-heading">Solução Passo a Passo...</div>
    <div class="panel-body">
      <div class="col-md-12">
        <div class="row">
          <h5 style="text-align: center"> Solução Final</h5>
        </div>
        <table class="table table-striped">
          <thead>
          <th>Variaveis</th>
          <th>Final</th>
          <th>PS</th>
          <th class="text-center">+</th>
          <th class="text-center">-</th>
          <th>Uso</th>
          </thead>
          <tbody>
          <% for i in 0..@number_variables-1 %>
            <tr>
              <th>x<%=i+1%></th>
              <th><%= @solution_end[i] %></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          <%end%>
          <% for i in 0..@number_restriction-1 %>
            <tr>
              <th>f<%=i+1%></th>
              <th><%= @variables_reserves_end[i] %></th>
              <th><%= @variables_reserves_end[i] %></th>
              <%if @max_min[i].length == 0 %>
                <th class="text-center">0</th>
                <th class="text-center">0</th>
              <%else%>
                <% for j in 0..@max_min[i].length-1 %>
                  <%if @max_min[i].length < 2 %>
                    <% if @max_min[i][0].to_f >= 0 %>
                      <th class="text-center"><%=@max_min[i][0].to_f%></th>
                    <%else%>
                      <th class="text-center">0</th>
                    <%end%>
                    <% if @max_min[i][0].to_f <= 0 %>
                      <th class="text-center"><%=@max_min[i][0].to_f * (-1) %></th>
                    <%else%>
                      <th class="text-center">0</th>
                    <%end%>
                  <%else%>
                    <% if @max_min[i][j].to_f >= 0 %>
                      <th class="text-center"><%=@max_min[i][j].to_f%></th>
                    <%end%>
                    <% if @max_min[i][j].to_f <= 0 %>
                      <th class="text-center"><%=@max_min[i][j].to_f * (-1) %></th>
                    <%end%>
                  <%end%>
                <%end%>
              <%end%>
              <th><%= @function_limits[i] - @variables_reserves_end[i] %></th>
            </tr>
          <%end%>
          <tr>
            <th>Z</th>
            <th><%= @valueZ_end %></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <h5 style="text-align: center"> Ultimo Passo</h5>
        </div>
        <table class="table">
          <tr>
            <% for i in 0..@number_variables - 1 %>
              <th>
                X<%= i + 1 %>
              </th>
            <% end %>

            <% for i in 0..@number_restriction - 1 %>
              <th>
                F<%= i + 1 %>
              </th>
            <% end %>
            <th>
              B
            </th>
          </tr>
          <% @matriz_end[1..-1].each_with_index do |line, inx| %>
            <tr>
              <% line.each do |x| %>
                <% if x != "|" %>
                  <td>
                    <%= x %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          <tr style="background-color: #f5c6cb;">
            <% @matriz_end[0].each_with_index do |z, key| %>
              <td><%= z %></td>
            <% end %>
            <td><%= @valueZ_end %></td>
          </tr>
        </table>
        <div class="row">
          <h5 style="text-align: center"> Solução Passo a Passo</h5>
        </div>
        <% @matrix.each_with_index do |linha, key_matrix| %>
        <div class="col-md-6">
          <div class="row">
            <h5 style="text-align: center"> Passo <%=key_matrix%>°</h5>
          </div>
          <table class="table">
              <tr>
                <% for i in 0..@number_variables - 1 %>
                  <th>
                    X<%= i+1 %>
                  </th>
                <%end%>

                <% for i in 0..@number_restriction - 1 %>
                  <th>
                    F<%= i + 1 %>
                  </th>
                <% end %>

                <th>
                  B
                </th>
              </tr>
              <% linha[1..-1].each_with_index do |line, inx| %>

                <tr>
                  <% line.each do |x| %>
                    <% if x != "|" %>
                      <td>
                        <%= x %>
                      </td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
                <tr style="background-color: #f5c6cb;">
                  <% linha[0].each_with_index do |z, key| %>
                    <td><%= z %></td>
                  <% end %>
                  <% if key_matrix == 0 %>
                    <td>0</td>
                  <% else %>
                  <td><%= @valueZ[key_matrix] %></td>
                  <% end %>
                </tr>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
